{pre_hooks, [
  {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", compile,
    "sh -c 'SHA=$(git rev-parse --short HEAD 2>/dev/null || echo unknown); "
    "DIRTY=$(git diff --quiet 2>/dev/null || echo dirty); "
    "echo \"-define(GIT_VSN, \\\".$SHA.$DIRTY\\\").\" > include/git_vsn.hrl'"}
]}.

{relx, [{release, {'MeowMeow', "2.0-alpha7"}, [app]},
  {dev_mode, true},
  {include_erts, false},
  {extended_start_script, true}
]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
  {include_erts, true},
  {include_src, false}]}]}
]}.
